/*{{{element selector*/
body {
    /*background-color: black;*/
}
video {
    z-index: 1;
    position: fixed;
    top: 8vh;
    left: 5vw;
    height: 90vh;
    width: 90vw;
} /*video*/

select {
    /*overflow: auto;*/
    color: white;
    font-size: 0.9em;
    background-color: rgba(0,0,0,0.0);
    overflow-y: auto;
    /*border: 0px;*/
} /*select*/


/*}}}element selector*/

/*{{{class selector*/
.fullPage {
    z-index: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    margin: auto;
    overflow-x: hidden;
} /*fullPage*/


.vidNonMax {
    z-index: 1;
    position: fixed;
    top: 8vh;
    left: 5vw;
    height: 90vh;
    width: 90vw;
    z-index: 0;
} /*vidNonMax*/

.vidMax {
    z-index: 1;
    position: fixed;
    top: 1vh;
    left: 1vw;
    height: 98vh;
    width: 98vw;
    z-index: 2;
} /*vidMax*/

.selector {
    background-color: rgba(0,0,0,0.7);

    z-index: 1;
    position: fixed;
    top: 0vh;
    left: 35vw;
    height: 7vh;
    width: 30vw;
    border-radius: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
} /*.selector*/

.selectorMin {
    background-color: rgba(0,0,0,0.7);

    z-index: 1;
    position: fixed;
    top: 1vh;
    left: 1vw;
    height: 0vh;
    width: 0vw;

    display: flex;
    justify-content: center;
    align-items: center;
} /*.selectorMin*/

/*}}}class*/

/*{{{id selector*/
#myBody {

} /*#myBody*/

#backgroundX {

} /*#backgroundX*/



/*}}}id selector*/
